body {
  background-color: lightgreen;
  max-width: 1195px;
}

.navbar {
  width: 1350px;
}

/* spaces out links horizontally in navbar */
.navbar-nav {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 10px;
  justify-content: space-around;
  gap: 120px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -17px;
  background-color: black;
}

/* styles links */
.navbar-light .navbar-nav .active>.nav-link {
  text-decoration: none;
  color: lightgreen;
  margin-left: 10px;
}

/* adds line under the link that's active */
.nav-link.active {
  border-bottom: 2px solid grey;
  padding-bottom: 4px;
}  
 
/* adds line under the link that's hovered over */
.nav-link:hover {
  border-bottom: 2px solid grey;
} 

/* styles the logout link */
.logout-link {
  text-decoration: none;
  color: lightgreen;
  font-size: 16px;
  margin-top: 10px;
}

/* styles logout link when hovered over */
.logout-link:hover {
  text-decoration: none;
  border-bottom: 2px solid grey;
  color: lightgreen;
  font-weight: light;
} 

.cart-in-navbar  {
  background-color: lightgreen;
  color: black;
  margin-top: 5px;
  padding:3px;
  border: solid black;
}

.cart-in-navbar:hover {
  background-color: lightgreen;
  border: solid black;
  color: black
}

.cart-in-navbar:active {
  background-color: lightgreen;
  border: solid black;
  color: black
}

.modal-login {
  background-color: rgb(248, 248, 85);
  color: black;

}
.navbar-msg {
  font-size: 25px;
  text-align: center;
}

.cart-checkout {
  background-color: green;
  color: white;
  border: solid 2px green;
}





 
  


   