.homepage-container {
   margin-top: 40px;
}

.homepage-title {
    color: black;
    background-color: lightgreen;
    text-align: center;
    font-size: 35px;
    margin-top: 75px;
    width: 600px;
    padding: 10px;
    position: absolute;
    top: 15%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    border: solid 2px  black;
}

.welcome-back-msg {
  margin-left: 535px;
  margin-top: 25px;
  margin-bottom: 50px;
  color: black;
}








  
