.success-h1 {
    color: black;
    margin-top: 150px;
    margin-left: 550px;
}

.success-h2 {
    color: black;
    margin-top: 10px;
    margin-left: 425px;
}

.success-img {
    height: 100px;
    width: 100px;
    margin-left: 575px;
    margin-top: -10px;
}